<a href="https://colab.research.google.com/github/SilvanaCicchitti/challenge_telecom/blob/main/TelecomX_LATAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#üìå Extracci√≥n

In [44]:
import pandas as pd
import numpy as np
url='https://raw.githubusercontent.com/SilvanaCicchitti/challenge_telecom/refs/heads/main/TelecomX_Data.json'

In [45]:
datos= pd.read_json(url)
datos.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

## Diccionario

Diccionario de datos

**customerID**: n√∫mero de identificaci√≥n √∫nico de cada cliente

**Churn**: si el cliente dej√≥ o no la empresa

**gender**: g√©nero (masculino y femenino)

**SeniorCitizen**: informaci√≥n sobre si un cliente tiene o no una edad igual o mayor a 65 a√±os

**Partner**: si el cliente tiene o no una pareja

**Dependents**: si el cliente tiene o no dependientes

**tenure**: meses de contrato del cliente

**PhoneService**: suscripci√≥n al servicio telef√≥nico

**MultipleLines**: suscripci√≥n a m√°s de una l√≠nea telef√≥nica

**InternetService**: suscripci√≥n a un proveedor de internet

**OnlineSecurity**: suscripci√≥n adicional de seguridad en l√≠nea

**OnlineBackup**: suscripci√≥n adicional de respaldo en l√≠nea

**DeviceProtection**: suscripci√≥n adicional de protecci√≥n del dispositivo

**TechSupport**: suscripci√≥n adicional de soporte t√©cnico, menor tiempo de espera

**StreamingTV**: suscripci√≥n de televisi√≥n por cable

**StreamingMovies**: suscripci√≥n de streaming de pel√≠culas

**Contract**: tipo de contrato

**PaperlessBilling**: si el cliente prefiere recibir la factura en l√≠nea

**PaymentMethod**: forma de pago

**Charges.Monthly**: total de todos los servicios del cliente por mes

**Charges.Total**: total gastado por el cliente

#üîß Transformaci√≥n

¬øQu√© debes hacer?

‚úÖ Explorar las columnas del dataset y verificar sus tipos de datos.

‚úÖ Consultar el diccionario para comprender mejor el significado de las variables.

‚úÖ Identificar las columnas m√°s relevantes para el an√°lisis de evasi√≥n.

In [46]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [47]:
columnas = list(datos.columns)
columnas

['customerID', 'Churn', 'customer', 'phone', 'internet', 'account']

In [48]:
# Columnas simples
base = datos[['customerID', 'Churn']]

# Normalizar columnas anidadas
customer = pd.json_normalize(datos['customer'])
phone = pd.json_normalize(datos['phone'])
internet = pd.json_normalize(datos['internet'])
account = pd.json_normalize(datos['account'])

# Unir todo
datos_normalizados = pd.concat([base, customer, phone, internet, account], axis=1)

# Ver resultado
datos_normalizados.sample(10)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
5150,7026-YMSBE,No,Male,0,No,No,30,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check,19.70,625.05
1900,2685-SREOM,Yes,Female,0,Yes,Yes,25,Yes,Yes,Fiber optic,...,No,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,89.10,2368.4
5243,7148-XZPHA,No,Male,0,Yes,Yes,55,Yes,No,Fiber optic,...,Yes,No,Yes,No,No,Month-to-month,No,Electronic check,79.40,4238.45
5378,7343-EOBEU,No,Male,0,Yes,No,3,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Mailed check,23.60,89.05
1244,1776-SPBWV,No,Female,0,Yes,Yes,34,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Bank transfer (automatic),20.10,682.1
1915,2709-UQGNP,No,Male,0,No,No,10,Yes,No,DSL,...,No,No,No,No,No,Month-to-month,Yes,Mailed check,51.65,524.5
5592,7638-QVMVY,Yes,Female,0,No,No,7,Yes,No,Fiber optic,...,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,79.00,522.95
2338,3258-SYSWS,No,Male,1,No,No,72,Yes,Yes,Fiber optic,...,Yes,Yes,Yes,Yes,Yes,Two year,No,Bank transfer (automatic),113.80,7845.8
3446,4778-IZARL,No,Male,0,Yes,No,63,Yes,No,Fiber optic,...,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),110.10,6705.7
6586,9058-CBREO,Yes,Female,1,No,No,1,Yes,Yes,DSL,...,No,No,No,No,No,Month-to-month,No,Mailed check,50.55,50.55

In [49]:
datos_normalizados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [50]:
datos_normalizados.isnull().sum()

customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

In [51]:
columnas2 = list(datos_normalizados.columns)
columnas2

for col in columnas2:
  #print(col)
  print(col, datos_normalizados[col].unique(), end='\n\n')

customerID ['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']

Churn ['No' 'Yes' '']

gender ['Female' 'Male']

SeniorCitizen [0 1]

Partner ['Yes' 'No']

Dependents ['Yes' 'No']

tenure [ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 11 37 49 66
 67 20 43 59 12 27  2 25 29 14 35 64 39 40  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 51 31 36 17 18 38 42
  0]

PhoneService ['Yes' 'No']

MultipleLines ['No' 'Yes' 'No phone service']

InternetService ['DSL' 'Fiber optic' 'No']

OnlineSecurity ['No' 'Yes' 'No internet service']

OnlineBackup ['Yes' 'No' 'No internet service']

DeviceProtection ['No' 'Yes' 'No internet service']

TechSupport ['Yes' 'No' 'No internet service']

StreamingTV ['Yes' 'No' 'No internet service']

StreamingMovies ['No' 'Yes' 'No internet service']

Contract ['One year' 'Month-to-month' 'Two year']

PaperlessBilling ['Yes' 'No']

PaymentMethod ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']

Charges.Monthly [65.6  59.9  73.9  ... 91.75 68.8  67.85]

Charges.Total ['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6']

### Valores nulos Churn

In [52]:
#churn valores en blanco
datos_normalizados['Churn'].value_counts()

Churn
No     5174
Yes    1869
        224
Name: count, dtype: int64

In [53]:
datos_normalizados['Churn'].isna().sum()

np.int64(0)

In [54]:
# Eliminar filas con 'Churn' vac√≠a o con solo espacios
datos2 = datos_normalizados[datos_normalizados['Churn'].str.strip() != '']
datos2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   Churn             7043 non-null   object
 2   gender            7043 non-null   object
 3   SeniorCitizen     7043 non-null   int64
 4   Partner           7043 non-null   object
 5   Dependents        7043 non-null   object
 6   tenure            7043 non-null   int64
 7   PhoneService      7043 non-null   object
 8   MultipleLines     7043 non-null   object
 9   InternetService   7043 non-null   object
 10  OnlineSecurity    7043 non-null   object
 11  OnlineBackup      7043 non-null   object
 12  DeviceProtection  7043 non-null   object
 13  TechSupport       7043 non-null   object
 14  StreamingTV       7043 non-null   object
 15  StreamingMovies   7043 non-null   object
 16  Contract          7043 non-null   object
 17  PaperlessBilling  7043 non-null   object
 18  PaymentMethod     7043 non-null   object
 19  Charges.Monthly   7043 non-null   float64
 20  Charges.Total     7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [55]:
#verificaci√≥n
datos2['Churn'].value_counts()

Churn
No     5174
Yes    1869
Name: count, dtype: int64

In [56]:
datos2.tail(5)
#quedaron mal los √≠ndices. Hay que resetear

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [57]:
datos2.reset_index(drop=True, inplace=True)
datos2.tail(5)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
7038,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7039,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7040,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7041,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7042,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

### Pasar a int: tenure, Charges.Monthly, Charges.Total

In [37]:
#tenure tiene un espacio
#datos2['tenure'].isna().sum()
#datos2['Charges.Monthly'].isna().sum()
#datos2['Charges.Total'].isna().sum()

np.int64(0)

In [59]:
columnas_numericas= ['tenure', 'Charges.Monthly', 'Charges.Total']
datos2[columnas_numericas] = datos2[columnas_numericas].replace(' ', np.nan)

<ipython-input-59-808a726093a4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos2[columnas_numericas] = datos2[columnas_numericas].replace(' ', np.nan)

In [60]:
columnas_numericas= ['tenure', 'Charges.Monthly', 'Charges.Total']
datos2[columnas_numericas]= datos2[columnas_numericas].astype(np.float64)
datos2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   Churn             7043 non-null   object
 2   gender            7043 non-null   object
 3   SeniorCitizen     7043 non-null   int64
 4   Partner           7043 non-null   object
 5   Dependents        7043 non-null   object
 6   tenure            7043 non-null   float64
 7   PhoneService      7043 non-null   object
 8   MultipleLines     7043 non-null   object
 9   InternetService   7043 non-null   object
 10  OnlineSecurity    7043 non-null   object
 11  OnlineBackup      7043 non-null   object
 12  DeviceProtection  7043 non-null   object
 13  TechSupport       7043 non-null   object
 14  StreamingTV       7043 non-null   object
 15  StreamingMovies   7043 non-null   object
 16  Contract          7043 non-null   object
 17  PaperlessBilling  7043 non-null   object
 18  PaymentMethod     7043 non-null   object
 19  Charges.Monthly   7043 non-null   float64
 20  Charges.Total     7032 non-null   float64
dtypes: float64(3), int64(1), object(17)
memory usage: 1.1+ MB

<ipython-input-60-0573c9fd812e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos2[columnas_numericas]= datos2[columnas_numericas].astype(np.float64)

### Transformar a boleanos= Churn y Senior Citizen

#üìä Carga y an√°lisis

#üìÑInforme final